@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Raleway&display=swap');

#header {
  padding: 0.5rem 0rem 0.5rem 0rem;
  background: #e4f9f5;
  color: #000645;
}

#HomePage {
  text-align: center;
  background: #40514e;
  color: #e4f9f5;
  font-family: 'Raleway', sans-serif;
}

#HomePage h2 {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

#LogInElement {
  text-align: right;
  padding: 0.1rem 0.4rem 0rem 0rem;
}

#CreateAnAccountDropDown {
  padding-bottom: 1rem;
}

#CreateAnAccountForm {
  padding-top: 1rem;
}

#LogInForm {
  margin-bottom: 15rem;
}

.LogInHeader {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

#DogWalkerLogInForm {
  margin-bottom: 15rem;
}

#MyProfileDogWalker h2 {
  text-align: center;
  padding-top: 1rem;
}

#MyProfileClient h2 {
  text-align: center;
  padding-top: 1rem;
}

#SingleDogWalker h2 {
  text-align: center;
  padding-top: 1rem;
}
footer {
  height: 6rem;
  background: #30e3ca;
  color: #000645;
  margin-top: 0.5rem;
}

h1 {
  font-family: 'Chewy', cursive;
  text-align: center;
}

h6 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}
