@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Raleway&display=swap');

#header {
  padding: 0.5rem 0rem 0.5rem 0rem;
  background: #11999e;
  color: #000645;
}
#HomePage {
  text-align: center;
}

#LogInElement {
  text-align: right;
  padding: 0.1rem 0.4rem 0rem 0rem;
}

#CreateAnAccountDropDown {
  padding-bottom: 1rem;
}

#CreateAnAccountForm {
  padding-top: 1rem;
}
footer {
  height: 6rem;
  background: #11999e;
  color: #000645;
  margin-top: 1rem;
}

h1 {
  font-family: 'Chewy', cursive;
  text-align: center;
}

h6 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}
